.button {
  display: block;
  height: 50px;
  min-width: 160px;
  padding: 15px 54px;
  border-radius: 3px;
  color: $basic-white;
  text-transform: uppercase;
  text-align: center;
}

.button--red {
  background-color: $basic-red;
  width: 240px;
}

.button--green {
  width: 160px;
  background-color: $basic-green;
}

.button--yellow {
  width: 160px;
  background-color: $basic-yellow;
}

