// colors

$basic-white: #ffffff;
$basic-black: #000000;
$text-color: #283136;
$basic-grey: #EEEEEE;
$basic-red: #FB565A;
// Viewports

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
